* {
    margin:0px;
    padding:0px;
  }

@font-face {
    font-family: cursiva;
    src: url(Fontes/The\ Yoshi.ttf);
}

h1 {
    margin-top: 2%;
    text-align: center;
    font-family: cursiva;
    font-size: 200%;
}
.cubo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    overflow: hidden;
    background-color: dimgray;
  }

li {
    display: inline;}

li a{
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}    

li a:hover {
    background-color: #111;
  }

/*pags extras */ 
#pages {
    float: right;
  border-radius: 4px;
  padding: 5px;
  width: 120px;
  margin-right: 24%;
  margin-top: -8%;
}
#pageX{
    margin-top:7%;
    margin-bottom: 2%;
}
h2{
    list-style-type: none;
    margin: 0;
    padding: 0;
    color:black;
    
}
h2 a {
    text-decoration: none;
}

/*resume*/
.res{
    margin-top: 7%;
    margin-left: 35%;
}
.me{
    float: right;
    border-radius: 4px;
    padding: 5px;
    width: 220px;
    margin-right: 25%;
    margin-top: -8%;
}
.rest{
    margin-top: 13%;
    text-align: center;
}

/*books*/
.dfm{
    margin-top: 7%;
    margin-left: 20%;
}
.sinopse {
    margin-top: 3%;
    margin-left: 9%;
    margin-bottom: 12%;
}
.capa{
    float: right;
    border-radius: 4px;
    padding: 5px;
    width: 260px;
    margin-right: 18%;
    margin-top: -7%;
}

/*games*/
.formigz{
    margin-top: 7%;
    margin-left: 30%;
}
.text1 {
    margin-top: 3%;
    margin-left: 15%;
    margin-bottom: 2%;
}
.ants{
    float: right;
    border-radius: 4px;
    padding: 5px;
    width: 260px;
    margin-right: 18%;
    margin-top: -3%;
}

.peba{
    margin-top: 7%;
    margin-left: 30%;
}
.text2 {
    margin-top: 3%;
    margin-left: 15%;
    margin-bottom: 2%;
}
.space{
    float: right;
    border-radius: 4px;
    padding: 5px;
    width: 260px;
    margin-right: 18%;
    margin-top: -3%;
}
